---
import Check from "@/icons/Check.astro";

const tiers = [
  {
    name: "Single class",
    price: 36,
    description:
      "Get access to a single class. Perfect for those who want to try out a class before committing.",
    features: [
      "One 50 minute lesson",
      "Online lesson & activities",
      "Immediate feedback",
    ],
    isPackage: false,
    total: 36,
    stripeURL: "https://buy.stripe.com/14k17AefV0JHdigdQQ",
  },
  {
    name: "5 classes",
    price: 34,
    description:
      "Save 20% with this bundle of 5 classes. Perfect for those who want to try out a few classes.",
    popular: true,
    features: [
      "Five 50 minute lessons ($10 discount)",
      "Online lesson & activities",
      "Immediate feedback",
      "Custom learning materials",
      "Follow-up corrections & activities",
      "Additional focus on ongoing evaluation and progression",
    ],
    isPackage: true,
    singleTotal: 180,
    total: 170,
    stripeURL: "https://buy.stripe.com/6oE6rUdbR9gd1zybIJ",
  },
  {
    name: "10 classes",
    price: 32,
    description:
      "Save 40% with this bundle of 10 classes. Perfect for those who want to commit to their practice.",
    features: [
      "Ten 50 minute lessons ($40 discount)",
      "Online lesson & activities",
      "Immediate feedback",
      "Custom learning materials",
      "Follow-up corrections & activities",
      "Additional focus on ongoing evaluation and progression",
    ],
    isPackage: true,
    singleTotal: 360,
    total: 320,
    stripeURL: "https://buy.stripe.com/eVacQic7N785fqo9AC",
  },
];
---

<section class="2xl:container px-4 md:px-8 py-8 md:py-12">
  <h2 class="text-5xl text-cyan-800 md:col-span-2 text-center">PRICING</h2>

  <!-- Tiers -->
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 sm:gap-8 mt-10">
    {
      tiers.map((tier) => (
        <div
          class={`shadow-lg rounded-xl p-8 ${
            tier.popular ? "border-2 border-cyan-800" : "border border-gray-200"
          }`}
        >
          <div class="flex justify-between items-center">
            <h3
              class={`
                    font-bold text-xl uppercase
                    ${tier.popular && "text-cyan-800"}
                    `}
            >
              {tier.name}
            </h3>
            {tier.popular && (
              <span class="text-white text-sm font-bold bg-[#85CBCC] px-3 py-1 rounded-full">
                Most popular
              </span>
            )}
          </div>
          <p class="mt-6">
            <span class="text-gray-900 text-4xl font-bold">${tier.price}</span>
            <span class="text-gray-600 text-sm font-semibold">/class</span>
          </p>
          <p class="text-sm text-gray-600">
            <span class={`line-through pr-1 ${!tier.singleTotal && "hidden"}`}>
              ${tier.singleTotal}
            </span>
            ${tier.total} in total
          </p>
          <a
            href={tier.stripeURL}
            rel="noopener noreferrer"
            target="_blank"
            class={`mt-6 shadow-sm rounded-md py-2 px-3 text-center text-sm w-full font-semibold border border-cyan-800 block
                ${tier.popular ? "bg-cyan-800 text-white" : "text-cyan-800 "}
                `}
          >
            {tier.isPackage ? "Buy package" : "Buy class"}
          </a>
          <ul class="mt-8 space-y-3 text-sm text-gray-600">
            {tier.features.map((benefit) => (
              <li class="flex gap-x-3">
                <span class="text-cyan-800">
                  <Check />
                </span>{" "}
                {benefit}
              </li>
            ))}
          </ul>
        </div>
      ))
    }
  </div>
</section>
