---
import ImageSkeleton from "@/components/ImageSkeleton.astro";
import Navbar from "@/components/Navbar.astro";
import Korea from "@/icons/Korea.astro";
import Spain from "@/icons/Spain.astro";
import USA from "@/icons/USA.astro";
import Footer from "@/sections/Footer.astro";
import classes from "@/utils/classes";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
const { title, longDescription, image, theme, link, slug } = frontmatter;

const markdowns = await getCollection("tvShows");
const tvShows = markdowns.map<any>((markdown) => ({
  ...markdown.data,
  slug: markdown.id,
  url: `/resources/tvshows/${markdown.id}`,
}));

const currentIndex = tvShows.findIndex((pd) => pd.title === title);

const similarTvShows = tvShows
  .slice(currentIndex + 1)
  .concat(tvShows.slice(0, currentIndex))
  .filter((pd) => pd.theme === theme && pd.title !== title)
  .slice(0, 3);
---

<script>
  import { selectedTvShow } from "@/components/nanostore";
  import { TvShowsThemes } from "@/types/resources";

  const anchor = document.querySelector("a#anchor-theme");
  anchor?.addEventListener("click", () => {
    const themeText = anchor.textContent;
    const theme = Object.values(TvShowsThemes).find(
      (value) => value === themeText
    )!;
    selectedTvShow.set(theme);
  });
</script>

<Layout title=`English for Abroad - ${title} Tv Show`>
  <main class="bg-[#85CBCC] flex-1">
    <section
      class="2xl:container mx-auto px-4 md:px-8 py-8 md:py-12 grid grid-cols-1 md:grid-cols-3 gap-8"
    >
      <h1
        class="text-5xl font-bold mb-4 md:col-span-3 text-white text-center md:text-start"
      >
        {title}
      </h1>
      <div
        class={classes(
          "bg-white text-cyan-800 rounded-xl p-4 gap-x-4 shadow-lg grid grid-rows-[auto_auto_auto_1fr_auto]",
          "md:col-span-3 md:grid-cols-[auto_1fr] md:grid-rows-[auto_auto_1fr_auto]"
        )}
      >
        <ImageSkeleton
          class="max-h-96 aspect-[2/3] md:col-start-1 md:row-start-1 md:row-span-4 place-self-center mb-4 md:mb-0"
        >
          <Image
            src={image}
            alt={title}
            class="h-full object-cover"
            transition:name={slug ? slug : title.replaceAll(" ", "")}
            loading="eager"
            width={256}
            height={384}
          />
        </ImageSkeleton>
        <a
          id="anchor-theme"
          href="/resources"
          class={classes(
            "border border-cyan-800 py-0.5 font-semibold text-cyan-800 px-4 rounded-full text-xs transition duration-300 hover:scale-105 shadow w-fit place-self-end mb-4 row-start-1",
            "md:col-start-2 md:row-start-1 md:mb-0"
          )}
        >
          {theme}
        </a>
        <p class="text-sm font-bold md:col-start-2 md:row-start-2">About:</p>
        <p class="md:col-start-2 md:row-start-3 mb-4">
          {longDescription}
        </p>
        <div
          class="md:col-start-2 md:row-start-4 grid grid-rows-3 grid-cols-1 xl:grid-rows-1 xl:grid-cols-[repeat(3_max-content)] gap-y-2 gap-x-4 place-self-center w-full md:w-fit md:place-self-start"
        >
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class={classes(
              "bg-cyan-800 text-white font-bold rounded-full px-12 py-2 transition duration-300 hover:scale-105 shadow flex justify-center items-center gap-x-2"
            )}
          >
            <div class="size-6 rounded-full overflow-hidden">
              <Korea />
            </div>
            한국에서 시청하기
          </a>
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class={classes(
              "bg-cyan-800 text-white font-bold rounded-full px-12 py-2 transition duration-300 hover:scale-105 shadow flex justify-center items-center gap-x-2"
            )}
          >
            <div class="size-6 rounded-full overflow-hidden">
              <Spain />
            </div>
            Míralo en España
          </a>

          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class={classes(
              "bg-cyan-800 text-white font-bold rounded-full px-12 py-2 transition duration-300 hover:scale-105 shadow flex justify-center items-center gap-x-2"
            )}
          >
            <div class="size-6 rounded-full overflow-hidden">
              <USA />
            </div>
            Watch in the US
          </a>
        </div>
      </div>

      <!-- Similar -->
      <h2
        class="text-3xl text-white uppercase text-center md:text-start md:col-span-3"
      >
        Similar TV Shows
      </h2>
      {
        similarTvShows.map((tpd) => (
          <a
            href={tpd.url}
            class={classes(
              "bg-white text-cyan-800 rounded-xl p-4 h-[392px] grid-rows-[min-content_min-content_auto] grid gap-x-4 transition duration-300 hover:scale-105 shadow-lg",
              "xs:h-60 xs:grid-rows-[auto_1fr] xs:grid-cols-[auto_1fr]",
              "md:h-[392px] md:grid-rows-[min-content_min-content_auto] md:grid-cols-1",
              "lg:h-60 lg:grid-rows-[auto_1fr] lg:grid-cols-[auto_1fr]"
            )}
          >
            <h3
              class={classes(
                "font-bold line-clamp-2",
                "xs:col-start-2 xs:row-start-1",
                "md:col-start-1 md:row-start-1 ",
                "lg:col-start-2 lg:row-start-1"
              )}
            >
              {tpd.title}
            </h3>
            <p
              class={classes(
                "text-sm line-clamp-2 mb-2",
                "xs:mb-0 xs:line-clamp-6 xs:col-start-2 xs:row-start-2",
                "md:line-clamp-2 md:mb-2 md:col-start-1 md:row-start-2",
                "lg:mb-0 lg:line-clamp-6 lg:col-start-2 lg:row-start-2 lg:h-fit"
              )}
            >
              {tpd.longDescription}
            </p>

            <ImageSkeleton
              class={classes(
                "self-end max-w-48 w-full place-self-center aspect-[2/3]",
                "xs:max-w-36 xs:col-start-1 xs:row-start-1 xs:row-span-2",
                "md:max-w-48 md:col-start-1 md:row-start-3 md:row-span-1",
                "lg:max-w-36 lg:col-start-1 lg:row-start-1 lg:row-span-2"
              )}
            >
              <Image
                src={tpd.image}
                alt={title}
                transition:name={tpd.title.replaceAll(" ", "")}
                class="h-full object-cover"
                loading="eager"
                width={192}
                height={288}
              />
            </ImageSkeleton>
          </a>
        ))
      }
    </section>
  </main>

  <Footer />
</Layout>
